.env

*.log

*.pem

.DS_Store

.idea
.vscode

coverage
.nyc_output

.eslintcache

node_modules
.node_repl_history

.npm
.npmrc
npm-debug.log*

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache

voxfiles/**
opensource/**

bin/**/*.js
bin/**/*.d.ts
lib/**/*.js
lib/**/*.d.ts

vox_ci_credentials.json
