.env

.npm
.npmrc
.idea
*.log
*.pem
.vscode
coverage
.DS_Store
.nyc_output
.eslintcache
node_modules
npm-debug.log*
.node_repl_history

voxfiles/**
opensource/**

bin/**/*.js
bin/**/*.d.ts
lib/**/*.js
lib/**/*.d.ts

vox_ci_credentials.json
